@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');


body{
    background-color: #25262D;
    color: antiquewhite;
    font-family: 'Fira Sans', sans-serif;
}
.header{
    font-size:30px;
    text-align: center;
    background-color: #F5F3F5;
    color: #25262D;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}


.vejaMais:link{
    color: #F5F3F5;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
}
.vejaMais:visited{
    color: #F5F3F5;
    text-decoration: none;
    font-size: 18px;
}
.vejaMais:hover{
    text-decoration: underline #FCC55F 5px;
    font-size: 18px;
}


/*Alteração de link*/
a:link{
    color: #25262D;
    text-decoration: none;
}
a:visited{
    color: #25262D;
    text-decoration: none;
}
a:hover{
    text-decoration: underline #FCC55F 5px;
}


.tabela{
    height: 200px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px 20px 20px 20px;
    background-color: black;
    font-size: 25px;
    /*mudar fonte*/
}
.imagem{
    width: 290px;
    height: 190px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.textoTab{
    color: #f9f3f9;
    font-size: 22px;
}



.tituloInd{
    font-size: 30px;
    text-align: center;
    font-weight:600;
}
.subtituloInd{
    font-size: 22px;
    text-align: center;
    font-weight:500;
}
.textoInd{
    text-align:justify;
    height: /*fit-content*/ 800px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    background-color: black;
    font-size: 20px;
    /*Para organização*/
    border-style:inset;
    border-color: #F5F3F5;
}
.info{
    float: right;
    text-align: center;
    height: fit-content;
    width: 250px;
    padding: 20px 20px 20px 20px;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 15px;
     /*Para organização*/
    border-style: inset;
    border-color: #F5F3F5;
}


.tituloReino{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #F5F3F5;
}
.textoReino{
    background-color: black;
    color: #F5F3F5;
    align-self: center;
    padding: 20px 20px 20px 20px;
    margin: 10px 20px;
    height: 500px;
}